; This file is for unifying the coding style for different editors and IDEs.
; More information at http://EditorConfig.org

root = true

[*]
end_of_line = crlf

# Microsoft .NET properties
csharp_space_after_cast = true

[*.cs]
indent_style = space
indent_size = 4

[*.csproj]
indent_style = space
indent_size = 4

[*.props]
indent_style = space
indent_size = 4

[*.targets]
indent_style = space
indent_size = 4
