<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="MSBuildSdkExtras-dev" value="https://pkgs.dev.azure.com/clairernovotny/GitBuilds/_packaging/MSBuildSdkExtras/nuget/v3/index.json" />
        <add key="roslyn-dev" value="https://dotnet.myget.org/F/roslyn/api/v3/index.json" />
    </packageSources>
</configuration>