<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="globalPackagesFolder" value="../SharpGen.Runtime.COM/RestoredPackages/" />
    </config>
    <packageSources>
        <add key="Local Source" value="../SharpGen.Runtime.COM/LocalPackages/" />
    </packageSources>
</configuration>